<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Configuración básica del documento -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio de Sesión</title>

    <!-- Enlace al archivo de estilos CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
    <!-- Encabezado principal -->
    <h1>Inicio de Sesión</h1>

    <!-- Formulario para recopilar datos de inicio de sesión -->
    <form method="post" action="{{ url_for('ejercicio2') }}">
        <!-- Campo para ingresar el nombre -->
        Ingrese tu nombre: <input type="text" name="nombre" required><br>

        <!-- Campo para ingresar la contraseña, se utiliza el tipo 'password' para ocultar el texto -->
        Ingrese Contraseña: <input type="password" name="contrasena" required><br>

        <!-- Botón de envío del formulario -->
        <input type="submit" value="Verificar">
    </form>

    <!-- Sección para mostrar resultados, solo se muestra si hay resultados disponibles -->
    {% if resultado %}
        <!-- Título de la sección de resultados -->
        <h2>Resultado:</h2>

        <!-- Párrafo para mostrar el mensaje de resultado -->
        <p>{{ resultado['mensaje'] }}</p>
    {% endif %}
</body>

</html>
