<!-- Estructura básica del documento HTML -->
<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Configuración de la codificación de caracteres y la escala del viewport -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Título de la página -->
    <title>Menú Principal</title>

    <!-- Enlace al archivo de estilos CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
    <!-- Encabezado principal de la página -->
    <h1>Menú Principal</h1>

    <!-- Enlace al ejercicio 1 con Flask -->
    <a href="{{ url_for('ejercicio1') }}">Ejercicio 1</a>

    <!-- Enlace al ejercicio 2 con Flask -->
    <a href="{{ url_for('ejercicio2') }}">Ejercicio 2</a>
</body>

</html>
